parkingsurface-model.data-00000-of-00001
parkingsurface-model.index
parkingsurface-model.meta
parkingsurfaceAsphaltQuality-model.data-00000-of-00001
parkingsurfaceAsphaltQuality-model.index
parkingsurfaceAsphaltQuality-model.meta
parkingsurfacePavedQuality-model.data-00000-of-00001
parkingsurfacePavedQuality-model.index
parkingsurfacePavedQuality-model.meta
parkingsurfaceType-model.data-00000-of-00001
parkingsurfaceType-model.index
parkingsurfaceType-model.meta
parkingsurfaceUnpavedQuality-model.data-00000-of-00001
parkingsurfaceUnpavedQuality-model.index
parkingsurfaceUnpavedQuality-model.meta
