<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hi</h1>
    <form method="POST">
        <input type="text" name="beaconA" placeholder="Enter Beacon A Distance"/><br/>
        <input type="text" name="beaconB" placeholder="Enter Beacon B Distance"/><br/>
        <input type="text" name="beaconC" placeholder="Enter Beacon C Distance"/><br/>
        <input type="submit" value="Submit"/>
    </form>
    <p>
        Distance is {{ prediction }}
    </p>
</body>
</html>